<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

        <!--  Navbar  -->
    <div class="topnav">
        <a class="logg inn" href="/logginn">Logg inn</a>
        <a class="faq" href="/faq">FAQ</a>
    </div>

        <!--  Sekundær navbar  -->
    <div class="secondtopnav">
        <img class="logo" src="/static/images/logo.png" alt="logo">
        <a class="lydstudio" href="/lydstudio">Lydstudio</a>
        <a class="fotostudio" href="/fotostudio">Fotostudio</a>
    </div>

    {% block content %} {% endblock %}
</body>
</html>