{% extends "base.html" %}

{% block content %}
<div class="faq">
    <div class="faq_tittel">
        <h1>FAQ- Frequently asked questions</h1>
    </div>
    <h4>Må jeg ha sertifisering for å låne ett av studioene?</h4>
    <p>Ja, du må ha lydstudio eller fotostudio sertifisering for å kunne reservere ett av rommene.</p>

    

    <h4>Kan jeg ta med drikke på lydstudio?</h4>
    <p>Nei, du kan ikke ta med drikke inn på fotostudio.</p>
    
   

    <h4>Kan jeg endre eller avbestille booking av studio?</h4>
    <p>Foreløpig nei.</p>

    

    <h4>Hva kan lydstudioet brukes til?</h4>
    <p>Lydstudioet kan brukes til opptak av musikk, podcast, voice-over og annet lydarbeid relatert til skoleprosjekter.</p>

    <p>“Denne tjenesten bruker informasjonskapsler (cookies) for å håndtere innlogging og øktinformasjon. Informasjonskapslene brukes kun til funksjonalitet og inneholder ikke personlig informasjon utover sesjons-ID.”</p>
</div>
{% endblock %}